@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@500;700&display=swap');

/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* FONTS */
@font-face {
  font-family: "CAT Linz";
  src: url("./fonts/CatLinz/cat-linz.regular.ttf");
  font-style: normal;
  font-weight: normal;
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h5 {
  font-family: "CAT Linz", serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h1 {
  font-size: 42px;
  line-height: 43px;
}

h2 {
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0.12em;
}

h3 {
  font-size: 14px;
  line-height: 22px;
}

h4 {
  font-size: 24px;
  line-height: 24px;
}

h5 {
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-top: 20px;
}

p, span {
  font-family: 'Mulish', sans-serif;
}

/* MAIN STYLESHEET */

html {
  scroll-behavior: smooth;
}

body {
  background-color: #161616;
  color: #E5E0DD;
}

img {
  max-width: 100%;
}

a {
  color: #E5E0DD;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 0 20px;
}

main > * {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 576px;
  margin: 25px auto 0 auto;
  overflow: hidden;
}

header {
  flex-direction: row;
}

header h2 {
  margin-bottom: 0;
}

.userBar span {
  margin-left: 10px;
}

.login-layout {
  padding: 0;
  width: 80%;
}

.logout-ico {
  height: 1em;
}
.logout-text {
  display: none;
}

.login-bg {
  display: none;
}

.btn {
  background-color: #FF9110;
  color: #2B2B2D;
  margin: 20px 0;
  padding: 1em 0;
  text-transform: uppercase;
  border: 1px solid #FF9110;
  border-radius: 100px;
  width: 100%;
}

.login-form {
  height: 100vh;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.authForm .btn {
  position: absolute;
  bottom: 50px;
  left: 0;
  align-self: flex-start;
}

.errorMessage {
  color: #F14B53;
  margin-bottom: 20px;
}

input {
  width: 100%;
  background-color: #242424;
  color: #3D3D3D;
  border-radius: 90px;
  padding: 12px 30px;
  margin-bottom: 20px;
  border: 1px solid #3D3D3D;
}


.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
}

.gallery-container h4 {
  align-self: flex-start;
}

.image-preview {
  width: 180px;
  margin-bottom: 20px;
}

.image-preview img, .image-card img {
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
}


footer {
 align-items: flex-start;
}

.payments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.payments img {
  width: 30%;
}


.contacts span {
  display: block;
  margin-top: 10px;
}

.credits {
  width: calc(100% - 1em);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  padding: 1em;
  margin-top: 20px;
  background-color: #000;
}

.details {
  background-color: #2B2B2D;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
}

.image-info {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.image-info > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-info span {
  background-color: rgba(255, 44, 16, 0.1);
  color: #FF9110;
  font-size: 14px;
  padding: 4px 15px;
  margin-bottom: 14px;
  border-radius: 100px;
}

/* RESPONSIVE */
@media only screen and (min-width: 577px) {
  main {
    padding: 0;
  }


  main > * {
    max-width: 1230px;
  }

  .logout-ico {
    display: none;
    cursor: pointer;
  }
  .logout-text {
    display: inline;
    color: #FF9110;
    cursor: pointer;
  }

  .login-layout {
    margin: 0;
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .login-bg {
    display: block;
    overflow: hidden;
    width: auto;
    margin: 0;
    padding: 0;
  }

  .login-bg img {
    height: 100vh;
  }

  .authForm {
    width: 50%;
  }

  .authForm .btn {
    position: relative;
    left: -30px;
    bottom: 0;
  }

  .banner {
    flex-direction: row-reverse;
  }
  .banner > * {
    width: 40%;
  }
  .banner p {
    margin-bottom: 20px;
  }
  .btn {
    width: 50%;
    display: block;
  }

  .image-preview {
    width: 280px;
  }

  footer {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  footer > div {
    width: 30%;
  }
  .credits {
    max-width: none;
    width: 100%;
  }

  .image-card {
    flex-direction: row;
    align-items: flex-start;
  }

  .image-card img {
    width: 70%;
  }
  .details {
    margin-top: 0;
  }
}
